<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= link_to @link.name, @link.url %>
</p>

<p>
  <b>Timer:</b>
  <%= @link.timer %>
</p>

<p>
	<b>Belongs to lists:</b>
	<% @lists.each do |list| %>
		<%= list.name %>		
	<% end %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
